In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import leafmap as lm
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import rcParams
from PIL import Image 
%matplotlib inline

In [8]:
#enrollment_data=WISEdash_postsecondary_enroll_data[WISEdash_postsecondary_enroll_data['AGENCY_TYPE']=='Public school']

In [24]:
for i in enrollment_data['SCHOOL_NAME']:
    enrollment_data.replace(i,i.upper(), inplace=True)

In [33]:
#enrollment_data=enrollment_data[enrollment_data['GROUP_BY']=='All Students']
#enrollment_data.drop(columns={'SCHOOL_NAME'},inplace=True)
#enrollment_data.index=enrollment_data['SCHOOL_NAME']
enrollment_data

,COUNTY,INSTITUTION_LOCATION,INSTITUTION_LEVEL,INSTITUTION_TYPE,GROUP_BY,GROUP_BY_VALUE,GROUP_COUNT,STUDENT_COUNT
SCHOOL_NAME,,,,,,,,
ABBOTSFORD MIDDLE/SENIOR HIGH,Clark,In-State,2-Year,Public,All Students,All Students,21,4
ABBOTSFORD MIDDLE/SENIOR HIGH,Clark,In-State,4-Year,Public,All Students,All Students,21,12
ABBOTSFORD MIDDLE/SENIOR HIGH,Clark,In-State,Multiple,Public,All Students,All Students,21,1
ABBOTSFORD MIDDLE/SENIOR HIGH,Clark,Out-of-State,4-Year,Private,All Students,All Students,21,1
ABBOTSFORD MIDDLE/SENIOR HIGH,Clark,In-State,4-Year,Private,All Students,All Students,21,1
...,...,...,...,...,...,...,...,...
WRIGHTSTOWN HIGH,Brown,Out-of-State,4-Year,Private,All Students,All Students,89,7
WRIGHTSTOWN HIGH,Brown,Out-of-State,4-Year,Public,All Students,All Students,89,6
WRIGHTSTOWN HIGH,Brown,In-State,4-Year,Public,All Students,All Students,89,1
WRIGHTSTOWN HIGH,Brown,In-State,2-Year,Public,All Students,All Students,89,4
WRIGHTSTOWN HIGH,Brown,In-State,Multiple,Public,All Students,All Students,89,1

In [61]:
school_name_list=[]
total_enrollment=[]
for i in enrollment_data.index:
    if i not in school_name_list:
        school_name_list.append(i)
        school_data=enrollment_data[enrollment_data.index==i]
        group_data=school_data[school_data['GROUP_BY_VALUE']=='All Students']
        group_data_value=0
        for j in group_data['GROUP_COUNT']:
            group_data_value=j
        total_enrollment.append(group_data_value)
total_enrollment

['21',
 '33',
 '9',
 '30',
 '16',
 '14',
 '16',
 '55',
 '63',
 '111',
 0,
 '9',
 '7',
 '157',
 '9',
 '121',
 '20',
 '7',
 0,
 '200',
 '23',
 '42',
 '16',
 '434',
 '71',
 0,
 '157',
 '29',
 '37',
 '17',
 '8',
 '50',
 '11',
 '107',
 '25',
 0,
 '47',
 '21',
 '137',
 '9',
 '29',
 '19',
 '16',
 '291',
 '63',
 '10',
 '63',
 '60',
 0,
 '7',
 '13',
 '40',
 '29',
 '55',
 '40',
 '32',
 '12',
 '26',
 '33',
 '41',
 '69',
 '17',
 '92',
 0,
 '7',
 '21',
 '16',
 '40',
 '8',
 '41',
 '58',
 '23',
 '14',
 '41',
 '217',
 '103',
 '44',
 '31',
 '34',
 '199',
 '7',
 '27',
 '43',
 '48',
 '31',
 '37',
 '40',
 '42',
 '41',
 '16',
 '27',
 '32',
 '39',
 '83',
 '31',
 '260',
 0,
 '40',
 '130',
 '167',
 '9',
 '28',
 '30',
 '60',
 0,
 '30',
 '83',
 '16',
 '34',
 '31',
 0,
 '14',
 '27',
 '64',
 '12',
 '36',
 '49',
 '19',
 '12',
 '64',
 0,
 '78',
 '229',
 '214',
 '15',
 '65',
 '34',
 '16',
 '48',
 '17',
 '18',
 '259',
 0,
 '72',
 '269',
 0,
 '19',
 '54',
 '56',
 '239',
 '35',
 '16',
 '19',
 '10',
 '34',
 0,
 '129',
 '10',
 '26',
 '49',
 '10',
 '11',
 '312',
 '176',
 '13',
 '159',
 '163',
 '12',
 '12',
 '87',
 '177',
 0,
 '60',
 '12',
 '30',
 '15',
 '106',
 '31',
 '153',
 '330',
 '41',
 '336',
 '32',
 '20',
 '14',
 '18',
 '33',
 '17',
 '10',
 '223',
 '153',
 0,
 0,
 '61',
 '15',
 '19',
 '129',
 '111',
 '55',
 '188',
 0,
 '40',
 '24',
 '97',
 '34',
 '17',
 '150',
 '29',
 '92',
 '49',
 '18',
 0,
 '65',
 '234',
 '47',
 0,
 0,
 '90',
 '7',
 '34',
 '99',
 '13',
 '46',
 '115',
 '39',
 '8',
 '13',
 '19',
 '31',
 '79',
 '52',
 '21',
 '15',
 '94',
 '222',
 '24',
 '182',
 0,
 '55',
 '43',
 '52',
 '9',
 '36',
 '52',
 '138',
 0,
 '23',
 '55',
 '11',
 '10',
 '129',
 '72',
 '95',
 '12',
 '12',
 '29',
 '71',
 0,
 '189',
 '132',
 '276',
 0,
 '15',
 0,
 '107',
 '7',
 '386',
 '164',
 '11',
 0,
 '25',
 0,
 '43',
 '37',
 '34',
 '74',
 '24',
 '75',
 0,
 0,
 '45',
 '30',
 '252',
 0,
 '27',
 '17',
 '95',
 '61',
 '13',
 0,
 '18',
 '9',
 '194',
 '195',
 '156',
 '6',
 0,
 '60',
 '11',
 0,
 '33',
 '33',
 '7',
 '39',
 '20',
 '44',
 '152',
 '7',
 '101',
 0,
 '13',
 0,
 '11',
 '107',
 '116',
 '212',
 '191',
 '19',
 '249',
 '32',
 0,
 '40',
 0,
 '8',
 '115',
 '98',
 '29',
 '53',
 '13',
 '70',
 '123',
 '21',
 '178',
 '13',
 '43',
 '33',
 '23',
 '65',
 0,
 '16',
 '16',
 '312',
 '26',
 '217',
 '74',
 0,
 '32',
 '54',
 '150',
 '53',
 '168',
 '86',
 '38',
 '20',
 '33',
 '23',
 '20',
 '16',
 '9',
 '37',
 '127',
 '6',
 '29',
 '20',
 '75',
 0,
 '94',
 '17',
 '120',
 '96',
 '20',
 '47',
 0,
 '54',
 '8',
 '24',
 '68',
 '10',
 '154',
 '110',
 '78',
 '12',
 '13',
 '27',
 '28',
 '37',
 '106',
 '15',
 '109',
 '21',
 '103',
 '52',
 0,
 '14',
 '72',
 0,
 '174',
 '37',
 '57',
 0,
 '20',
 '24',
 '23',
 '18',
 '66',
 '11',
 '49',
 '61',
 '128',
 '14',
 '30',
 '72',
 '85',
 0,
 '12',
 '64',
 '63',
 '23',
 '24',
 0,
 '128',
 '17',
 '27',
 '174',
 0,
 '11',
 '52',
 '149',
 '8',
 '50',
 '34',
 0,
 '77',
 0,
 '35',
 '47',
 '45',
 '26',
 '13',
 '278',
 '9',
 '124',
 '51',
 '59',
 '6',
 '335',
 '104',
 '9',
 '30',
 '15',
 0,
 '88',
 '61',
 '44',
 '21',
 '15',
 '6',
 '43',
 '84',
 '35',
 '35',
 0,
 '255',
 '6',
 0,
 '20',
 '6',
 '20',
 0,
 '106',
 '33',
 '6',
 '148',
 '76',
 0,
 '9',
 '30',
 0,
 '235',
 '62',
 '82',
 0,
 '18',
 '30',
 '39',
 '15',
 '12',
 '17',
 '13',
 '138',
 0,
 0,
 '170',
 '66',
 '36',
 '20',
 '8',
 '37',
 '7',
 '191',
 '19',
 '78',
 '132',
 '22',
 '29',
 '90',
 '76',
 '11',
 '52',
 '35',
 '8',
 '40',
 '6',
 '89']

In [62]:
len(total_enrollment)

504

In [60]:
len(institution_Private)

504

In [58]:
len(institution_Public)

504

In [56]:
len(institution_MultipleYear)

504

In [54]:
len(institution_4year)

504

In [50]:
len(institution_2year)

504

In [52]:
len(In_State)

504

In [51]:
len(Out_Of_State)

504

In [99]:
#cleaned_enrollment_data.rename(columns={'In_Stat':'In_State'},inplace=True)
cleaned_enrollment_data#.to_excel('cleaned_enrollment_data.xlsx')

,Name,In_State,Out_Of_State,institution_4year,institution_2year,institution_MultipleYear,institution_Public,institution_Private,total_enrollment
0,ABBOTSFORD MIDDLE/SENIOR HIGH,20,1,16,4,1,19,2,21
1,ADAMS-FRIENDSHIP HIGH,30,2,19,12,2,31,2,33
2,ALBANY HIGH,6,3,7,1,1,7,2,9
3,ALGOMA HIGH,25,4,18,7,5,25,4,30
4,ALMA HIGH,10,6,3,11,2,15,1,16
...,...,...,...,...,...,...,...,...,...
499,WISCONSIN HEIGHTS HIGH,29,5,21,14,0,31,3,35
500,RIVER CITIES HIGH,8,0,0,8,0,8,0,8
501,WITTENBERG-BIRNAMWOOD HIGH,39,0,20,13,7,36,4,40
502,WONEWOC-CENTER HIGH,6,0,1,5,0,6,0,6
503,WRIGHTSTOWN HIGH,73,13,58,27,4,74,12,89

In [97]:
FAFSA_data=pd.read_excel('FAFSA_2016-2021.xlsx')

In [114]:
#FAFSA_merged_enrollment.drop(columns={'Name'},inplace=True)
FAFSA_merged_enrollment.to_csv('FAFSA_merged_enrollment19-20.csv')

In [79]:
def finder():
    x=input("Column Name:")
    if x=='stop':
        return
    y=input("Value:")
    if x in enrollment_data.columns:
            return enrollment_data[enrollment_data[x]==y]
    finder()

In [111]:
#finder()